<?xml version="1.0"?>
<FileConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <FirstSetup>true</FirstSetup>
  <Links>
    <FileLink>
      <Streaming>DB/Infantry.sqlite</Streaming>
      <Local />
      <Type>Database</Type>
    </FileLink>
    <FileLink>
      <Streaming>DB/Task.sqlite</Streaming>
      <Local />
      <Type>Database</Type>
    </FileLink>
    <FileLink>
      <Streaming>Xml/AgentDecisionTree.config</Streaming>
      <Local />
      <Type>Xml</Type>
    </FileLink>
  </Links>
</FileConfig>